main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#_row {
    display: flex;
    flex-direction: row;
    justify-content: center;

    max-width: 60%;
    padding: 50px 0px;
    margin: 20px;

    background-color: rgb(83, 83, 83);
}

#_col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    max-width: 40%;
    padding: 20px;
    margin-left: 20px;
    
    background-color: rgb(177, 177, 177);
}

/* ======================= Biographie ============================= */

h1 {
    margin-top: 0px;
}

#center_titre {
    text-align: center;
}

h2 {
    text-decoration: underline;
}

main img {
    height: 400px;
    margin-right: 20px;
}

.fixe {
    font-weight: bold;
}

/* ======================= Filmographie ============================= */

#filmo {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 40%;
    padding: 20px;
    margin-bottom: 20px;

    background-color: rgb(177, 177, 177);
}

#filmo a {
    color: black;
}
