main {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: rgb(233, 233, 233);
}

main > div {
    max-width: 1000px;
    min-width: 50%;

    padding: 4rem 2rem;

    background-color: white;
}

h1{
    text-align: center;
    
    font-size: 2.5rem;
    font-family: monospace;
}

h2 {
    font-size: 1.5rem;
    font-family: monospace;
}

#coord {
    margin-bottom: 50px;

    font-family: sans-serif;
}

/* ====================== Form =============================== */

form  {
    display: flex;
    flex-direction: column;
}

label {
    display: flex;
    flex-direction: column;

    padding: 10px 0px;

    font-family: monospace;
    font-weight: bold;
    font-size: 1.3rem;
}

.aste {
    margin-left: .3rem;

    font-weight: normal;
    font-size: 1rem;
}

main input[type=text], textarea, select {
    margin-top: .5rem;
}

main input[type=text] {
    max-width: 25rem;
    padding: .5rem 1rem;
}

select {
    max-width: 25rem;
    padding: .5rem 1rem;
}

textarea {
    border: 2px solid grey;
}

main button {
    padding: .5rem 1.5rem;
    
    font-size: 1.3em;
    font-weight: bold;
    font-family: monospace;

    color: black;
    background-color: rgb(238, 206, 24);

    border: 0px;
}

#form div div select {
    padding-top: 20px;
    font-size: 1.6rem;
    padding: 2px 5px;
}

#form div div label {
    font-size: 1.6rem;
    padding: 2px 5px;
}
