
body{
    background-image: url(../assets/images/global.jpg);
}
  #form  {
   
    border: 1px;
    border-style: solid;
    width: 50%;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-wrap:nowrap;
  }

  #form div {
    background-color: white;
  }

 #infos div {
    background-color: white;
 }
 #infos div h1 {
    text-align: center;
 }

  #form div div {

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 70%;
    margin: 30px 0;
    padding-left: 50px;

  }



  #form div div input {
    width: 80%;
    height: 60px;
    line-height: 50px;
    font-size: 1.3em;
  }


  #form div div button {

    background-color:yellow;
    width: 60%;
    height: 50px;
    color: black;
    font-size: 1.3em;
  }

  #form div div label {
    padding-bottom: 30px;
    padding-top: 20px;
    padding-left: 20px;
    min-width: 150px;
    font-size: 1rem;
    padding-right: 10px;
  }

  #form div div select {
      padding-top: 20px;
    font-size: 1.6rem;
    padding: 2px 5px;
  }

  #form div div label {
    font-size: 1.6rem;
    padding: 2px 5px;
  }
